@keyframes ldio-aj8idjzjjpg {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,0.48000000000000004);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-aj8idjzjjpg div > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #85a2b6;
    animation: ldio-aj8idjzjjpg 1s linear infinite;
  }.ldio-aj8idjzjjpg div:nth-child(1) > div {
    left: 148px;
    top: 88px;
    animation-delay: -0.9090909090909091s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
  }.ldio-aj8idjzjjpg div:nth-child(2) > div {
    left: 138px;
    top: 120px;
    animation-delay: -0.8181818181818182s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    transform-origin: 150px 132px;
  }.ldio-aj8idjzjjpg div:nth-child(3) > div {
    left: 113px;
    top: 143px;
    animation-delay: -0.7272727272727273s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    transform-origin: 125px 155px;
  }.ldio-aj8idjzjjpg div:nth-child(4) > div {
    left: 79px;
    top: 147px;
    animation-delay: -0.6363636363636364s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    transform-origin: 91px 159px;
  }.ldio-aj8idjzjjpg div:nth-child(5) > div {
    left: 49px;
    top: 133px;
    animation-delay: -0.5454545454545454s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    transform-origin: 61px 145px;
  }.ldio-aj8idjzjjpg div:nth-child(6) > div {
    left: 30px;
    top: 105px;
    animation-delay: -0.45454545454545453s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    transform-origin: 42px 117px;
  }.ldio-aj8idjzjjpg div:nth-child(7) > div {
    left: 30px;
    top: 71px;
    animation-delay: -0.36363636363636365s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    transform-origin: 42px 83px;
  }.ldio-aj8idjzjjpg div:nth-child(8) > div {
    left: 49px;
    top: 43px;
    animation-delay: -0.2727272727272727s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    transform-origin: 61px 55px;
  }.ldio-aj8idjzjjpg div:nth-child(9) > div {
    left: 79px;
    top: 29px;
    animation-delay: -0.18181818181818182s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    transform-origin: 91px 41px;
  }.ldio-aj8idjzjjpg div:nth-child(10) > div {
    left: 113px;
    top: 33px;
    animation-delay: -0.09090909090909091s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    transform-origin: 125px 45px;
  }.ldio-aj8idjzjjpg div:nth-child(11) > div {
    left: 138px;
    top: 56px;
    animation-delay: 0s;
  }
  .ldio-aj8idjzjjpg > div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    transform-origin: 150px 68px;
  }
  .loadingio-spinner-spin-usdec02r5jh {
   
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
  }
  .ldio-aj8idjzjjpg {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-aj8idjzjjpg div { box-sizing: content-box; }
  /* generated by https://loading.io/ */